//fonts

//fonts sizes
$_11: 11px
$_13: 13px
$_14: 14px
$_17: 17px
$_24: 24px
$_30: 30px

//colors for project
$grey: rgba(0, 0, 0, .05)
$grey-all: rgba(51, 51, 51, .3)
$grey-line: rgba(242, 242, 242, .15)
$footer-grey: rgba(242, 242, 242, .8)
$title-black: #333333
$h-black: rgba(0, 0, 0, .8)
$text-black: rgba(51, 51, 51, .8)
$hover-bar-border: rgba(51, 51, 51, .15)
$default-green: #84E47B
$dark-green: rgba(132, 228, 123, .75)
$social-hover: rgba(242, 242, 242, .2)
$copyright-grey: rgba(242, 242, 242, .6)
$social-hover-white: rgba(242, 242, 242, 1)*.98
$white: #FFF
//other variables
